/* FONTS */

a {
    font-size: 1.2em;
}

.nickname {
    font-weight: bold;
}

/* Navigation */
nav ul li {
    display: inline-flex;
}

/* Body */
ul li {
    margin-left: 20px;
}

.social a, .change-panel a {
    margin-right: 20px;
}

ul, .social {
    margin-top: 20px;
}

.change-panel {
    margin-top: 10px;
}

ul {
    padding: 0;
}

