/* FONTS */
p, a, em, textarea, input[type="text"], input[type="password"], form span {
    font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
    font-size: 1.3em;
    font-weight: normal;
}

p a {
    font-size: 1em;
}

.nickname {
    font-weight: bold;
}

h1 {
    font-size: 2.8em;
}

h2 {
    font-size: 2.5em;
}

h2 a, h2 a:hover {
    color: #333;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.1;
    font-size: 1em;
}

.error {
    color: darkred;
}

/* Navigation */
nav ul li {
    display: inline-flex;
}

ul {
    padding: 0;
}

/* Body */
ul li, .btn-cancel {
    margin-left: 20px;
}

.social a, .change-panel a, span + input {
    margin-right: 20px;
}

ul, .social, label {
    margin-top: 20px;
}

.change-panel {
    margin-top: 10px;
}

.author, textarea {
    margin-bottom: 20px;
}

textarea {
    height: 100px;
}

label textarea {
    height: 300px;
}

.date {
    font-size: 0.8em;
    line-height: 2.5em;
}

label {
    display: inline-block;
    width: 100%;
}

hr {
    width: 100%;
}

label span {
    display: inline-block;
    min-width: 140px;
}

.userform label {
    margin-top: 0;
}

.userform {
    margin-top: 40px;
}