{% extends "template.html" %}

{% block content %}
	<h1>Create a New Blog Post</h1>
	<form method="post">
		<div>
			<label>
				<div>Subject:</div>
				<input type="text" name="subject" value="{{ subject }}" class="col-xs-12 col-sm-12 col-lg-12">
			</label>
			<br>
			<label>
				<div>Text:</div>
				<textarea name="content" class="col-xs-12 col-sm-12 col-lg-12">{{ content }}</textarea>
			</label>
		</div>
		<input type="submit" class="btn btn-lg btn-default">
	</form>
	<p class="error">{{ error }}</p>
{% endblock %}