{% extends "template.html" %}

{% block content %}
	<h1>Edit your Blog Post</h1>
	<form method="post">
        <input type="hidden" name="post_id" value="{{ post_id }}">
		<div>
			<label style="width: 100%">
				<div>Subject:</div>
				<input type="text" name="subject" value="{{ subject }}" class="col-xs-12 col-sm-12 col-lg-12">
			</label>
			<br>
			<label>
				<div>Text:</div>
				<textarea name="content" class="col-xs-12 col-sm-12 col-lg-12">{{ content }}</textarea>
			</label>
		</div>
		<input type="submit" class="btn btn-lg btn-default">
		<a href="/{{ post_id }}" class="btn btn-lg btn-default cancel">Cancel</a>
	</form>

	<p class="error">{{ error }}</p>
{% endblock %}