{% extends "template.html" %}

{% block content %}
    <form method="post">
        <table>
            <tr>
                <td>
                Username
                </td>
                <td>
                <input type="text" name="username" value="{{ username }}">
                </td>
            </tr>

            <tr>
                <td>
                Password
                </td>
                <td>
                <input type="password" name="password" value="">
                </td>
            </tr>
        </table>
        <p class="error">{{ error }}</p>
        <input type="submit" class="btn btn-lg btn-default">
    </form>
{% endblock %}