{% extends "template.html" %}

{% block content %}
    <h1>Log in</h1>
    <div class="userform">
        <form method="post">
            <label>
                <span>Username</span>
                <input type="text" name="username" value="{{ username }}">
            </label>
            <label>
                <span>Password</span>
                <input type="password" name="password" value="">
            </label>
            <p class="error">{{ error }}</p>
            <input type="submit" class="btn btn-lg btn-default">
        </form>
    </div>
{% endblock %}