{% extends "template.html" %}

{% block content %}
    <h1>Welcome to our Blog!</h1>
    <h2>Top 10 newest posts</h2>
    {% for entry in posts %}
        <div>
            <h3><a href="/{{ entry.post.key().id() }}">{{ entry.post.title }}</a></h3>
            <em>{{ entry.author }}</em>
            <p>{{ entry.post.content | safe }}</p>
            <a href="/like?post_id={{ entry.post.key().id()}}&source=">
                {% if entry.was_liked:%}
                    Liked&nbsp;
                {% else: %}
                    Like&nbsp;
                {% endif %}
                <span>{{ entry.like_counter }}</span>
            </a>
        </div>
        <hr>
    {% endfor %}
{% endblock %}