{% extends "template.html" %}

{% block content %}
    {% for entry in posts %}
        <div>
            <h3><a href="/{{ entry.post_id }}">{{ entry.post.title }}</a></h3>
            <em class="nickname">{{ entry.author }}</em>
            <p>{{ entry.post.content | safe }}</p>
            <div class="social">
                <a href="/like?post_id={{ entry.post_id }}&source=">
                    {% if entry.was_liked:%}
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    {% else: %}
                        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                    {% endif %}
                    <span>{{ entry.like_counter }}</span>
                </a>
                <a href="/{{ entry.post_id }}">{{ entry.comment_counter }} comments</a>
            </div>
            {% if user_id == entry.post.author_id: %}
            <div class="change-panel">
                <a href="/editpost?post_id={{ entry.post_id }}">Edit</a>
                <a href="/deletepost?post_id={{ entry.post_id }}">Delete</a>
            </div>
            {% endif %}

        </div>
        <hr>
    {% endfor %}
{% endblock %}