{% extends "template.html" %}

{% block content %}
    {% for entry in posts %}
        <div>
            <h2><a href="/{{ entry.post_id }}">{{ entry.post.title }}</a></h2>
            <div class="author">
                <em><strong>by {{ entry.author }}</strong></em>
            </div>
            <p>{{ entry.post.content | safe }}</p>
            <div class="social">
                {% if entry.is_owner: %}
                    <a href="#" data-toggle="tooltip" title="You can't like your own post">
                        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                        <span>{{ entry.like_counter }}</span>
                    </a>
                {% else: %}
                    <a href="/like?post_id={{ entry.post_id }}&source=">
                    {% if entry.was_liked:%}
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    {% else: %}
                        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                    {% endif %}
                    <span>{{ entry.like_counter }}</span>
                    </a>
                {% endif %}
                <a href="/{{ entry.post_id }}">{{ entry.comment_counter }} comments</a>
            </div>
            {% if user_id == entry.post.author_id: %}
            <div class="change-panel">
                <a href="/editpost?post_id={{ entry.post_id }}">Edit</a>
                <a href="/deletepost?post_id={{ entry.post_id }}">Delete</a>
            </div>
            {% endif %}

        </div>
        <hr>
    {% endfor %}
{% endblock %}