{% extends "template.html" %}

{% block content %}
    <h1>Sign up</h1>
    <div class="userform">
      <form method="post">
        <label>
          <span>Username</span>
          <input type="text" name="username" value="{{username}}">

          <span class="error">
            {{error_username}}
          </span>
        </label>
        <label>
          <span>Password</span>
          <input type="password" name="password" value="">
          <span class="error">
            {{error_password}}
          </span>
        </label>
        <label>
          <span>Verify Password</span>
          <input type="password" name="verify" value="">
          <span class="error">
            {{error_verify}}
          </span>
        </label>
        <label>
          <span>Email (optional)</span>
          <input type="text" name="email" value="{{email}}">
          <span class="error">
            {{error_email}}
          </span>
        </label>
        <input type="submit" class="btn btn-lg btn-default">
          </form>
    </div>
{% endblock %}
