<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Multi User Blog</title>



</head>

<body>
    <div class="container">
        <header>
            <picture>
                <source media="(min-width: 1200px)" srcset="/static/img/header_1140.png">
                <source media="(min-width: 992px)" srcset="/static/img/header_940.png">
                <source media="(min-width: 768px)" srcset="/static/img/header_720.png">
                <img class="img-responsive" src="/static/img/header_700.png" alt="main cover image">
            </picture>
        </header>
        <nav class="nav">
            <ul class="text-right">
                <li><a href="/">Home</a> </li>
                <li><a href="/newpost">New Post</a></li>
            {% if user: %}
                <li><a href="/logout">Log out</a></li>
                <li><a href="#">{{ user.username }}</a></li>
            {% else: %}
                <li><a href="/login">Log in</a></li>
                <li><a href="/signup">Sign up</a></li>
            </ul>
            {% endif %}
        </nav>
        <div class="row">
            <div id="content" class="col-sm-12 col-lg-12">
            {% block content %}
            {% endblock %}
            </div>
        </div>
        <footer></footer>
    </div>
</body>

</html>

