<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/styles.css" />

  <title>Multi User Blog</title>
</head>

<body>
    <header>
    </header>
    <nav>
        <ul>
        {% if user: %}
            <li><a href="#">New Post</a></li>
            <li><a href="#">{{ user.username }}</a></li>
            <li><a href="/logout">Log out</a></li>
        {% else: %}
            <li><a href="/login">Log in</a></li>
            <li><a href="/signup">Sign up</a></li>
        </ul>
        {% endif %}
    </nav>
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
    <footer></footer>
</body>

</html>

