{% extends "template.html" %}

{% block content %}
	{% if user_id and user_id == post.author_id %}
	<ul>
		<li><a href="/edit?post_id={{ post_id }}">Edit</a></li>
		<li><a href="/delete?post_id={{ post_id }}">Delete</a></li>
	</ul>
	{% endif %}
	<h2>{{ post.title }}</h2>
	<em>by {{ author }}</em>
	<p>{{ post.content | safe }}</p>
	<a href="/like?post_id={{ post_id }}&source={{ post_id }}">
		{% if was_liked:%}
			Liked&nbsp;
		{% else: %}
			Like&nbsp;
		{% endif %}
		<span>{{ like_counter }}</span>
	</a>
{% endblock %}