{% extends "template.html" %}

{% block content %}


	<h2>{{ post.title }}</h2>
	<div class="author">
		<em><strong>by {{ author }}</strong></em>
	</div>
	<p>{{ post.content | safe }}</p>
	<div class="social">
		<a href="/like?post_id={{ post_id }}&source={{ post_id }}">
			{% if was_liked:%}
				<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
			{% else: %}
				<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
			{% endif %}
			<span>{{ like_counter }}</span>
		</a>
	</div>
	{% if user_id and user_id == post.author_id %}
	<div class="change-panel">
		<a href="/editpost?post_id={{ post_id }}">Edit</a>
		<a href="/deletepost?post_id={{ post_id }}">Delete</a>
	</div>
	{% endif %}
	<hr>
	<section class="row new_comment">
		<div class="col-sm-12 col-lg-12">
			{% if user_id: %}
			<form method="post">
				<label>Leave your comment</label>
				<br>
				<textarea class="col-sm-12 col-lg-12" name="content">{{ content }}</textarea>
				<br>
				<input type="submit">
			</form>
			{% else: %}
			<p>You must be <a href="/signup">signed in</a> to comment</p>
			{% endif %}
			<div class="error">{{ error }}</div>
		</div>
	</section>
	<hr>
	<section class="row comments">
		{% for entry in comments: %}
		<div class="col-sm-12 col-lg-12">
			<em><strong>{{ entry.author }}</strong></em>
			<em>{{ entry.comment.created|datetimeformat }}</em>
			<p>{{ entry.comment.content }}</p>
			{% if user_id and user_id == entry.comment.user_id: %}
			<div class="change-panel">
				<a href="/editcomment?comment_id={{ entry.comment_id }}">Edit</a>
				<a href="/deletecomment?comment_id={{ entry.comment_id }}">Delete</a>
			</div>
			{% endif %}
			<hr>
		</div>

		{% endfor %}
	</section>
{% endblock %}