{% extends "template.html" %}

{% block content %}
	<h2>{{ post.title }}</h2>
	<div class="author">
		<em><strong>by {{ post.author }}</strong></em>
	</div>
	<p>{{ post.content | formattext | safe }}</p>
	<div class="social">
		{% if user_id == post.author_id: %}
			<a href="#" data-toggle="tooltip" title="You can't like your own post">
				<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
				<span>{{ post.likes | length }}</span>
			</a>
		{% else: %}
			<a href="/like?post_id={{ post.id }}&source={{ post.id }}">
				{% if user_id in post.users_liked:%}
					<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
				{% else: %}
					<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
				{% endif %}
				<span>{{ post.likes | length }}</span>
			</a>
		{% endif %}

	</div>
	{% if user_id and user_id == post.author_id %}
	<div class="change-panel">
		<a href="/editpost?post_id={{ post.id }}">Edit</a>
		<a href="/deletepost?post_id={{ post.id }}">Delete</a>
	</div>
	{% endif %}
	<hr>
	<div class="row new_comment">
		<div class="col-sm-12 col-lg-12">
			{% if user_id: %}
			<form method="post">
				<p>Leave your comment</p>
				<textarea class="col-xs-12 col-sm-12 col-lg-12" name="content">{{ content }}</textarea>
				<p class="error">{{ error }}</p>
				<input type="submit" class="btn btn-lg btn-default">
			</form>
			{% else: %}
			<p>You must be signed in</a> to comment. <a href="/signup">Sign up</a> now.</p>
			{% endif %}

		</div>
	</div>
	<hr>
	<div class="comments">
		{% for comment in post.comments: %}
		<div  class="row">
			<div class="col-sm-4 col-lg-2">
				<em><strong>{{ comment.author }}</strong></em>
			</div>
			<div class="col-sm-8 col-lg-10">
				<span class="date">
					<em>{{ comment.created | datetimeformat }}</em>
				</span>
				<p>{{ comment.content | formattext | safe }}</p>
				{% if user_id and user_id == comment.user_id: %}
				<div class="change-panel">
					<a href="/editcomment?comment_id={{comment.id }}">Edit</a>
					<a href="/deletecomment?comment_id={{ comment.id }}">Delete</a>
				</div>
				{% endif %}

			</div>
		</div>
		<hr>
		{% endfor %}
	</div>
{% endblock %}